@media only screen and (max-width:800px){
    #input{
        position:absolute;
        width: 95vw;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%,-50%);
    }
    #output{
        position: absolute;
        width: 95vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%,60%);
    }
}
@media only screen and (min-width:800px){
    #input{
        align-items: center;
        left: 5vw;
        top: 5vh;
        width: 40vw;
        height: 50vh;
    }
    #output{
        left:55vw;
        top: 5vh;
        width: 40vw;
        height:50vh;
    }
    
}
*{
    padding: 0 0;
    margin: 0 0;
    font-family: Verdana;
}
:disabled{
    background-color: #444;
    color:white
}
body{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ddd;
}
div{
    position: absolute;
}
.Discrete
    visibility: collapse;
}
#buttondiv{
    width: 100%;
    text-align: center;
    border: none;
    align-items: center;
}
#ButtonText{
    user-select: none;
    width: 98%;
    background-color: white;
    border: 1px black solid
}
#ButtonText:hover{
    background-color: #ddd;
}
#inputtext,#outputtext{
    width: 100%;
    text-align:center;
    font-size: 3vh;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px black solid;
    text-align: center;
    width: 50%;
    height: 3vh;
}
#inputtable,#outputtable{
    top:3vh
}
